/*  Ubuntu font */
@font-face {
  font-family: "UbuntuLight";
  font-display: swap;
  src: url("../fonts/Ubuntu/UbuntuLight.ttf") format("truetype"),
    url("../fonts/Ubuntu/UbuntuLight.eot") format('embedded-opentype'),
      url("../fonts/Ubuntu/UbuntuLight.woff2") format("woff2"),
        url("../fonts/Ubuntu/UbuntuLight.woff") format("woff");
}

@font-face {
  font-family: "UbuntuRegular";
  font-display: swap;
  src: url("../fonts/Ubuntu/UbuntuRegular.ttf") format("truetype"),
    url("../fonts/Ubuntu/UbuntuRegular.eot") format('embedded-opentype'),
      url("../fonts/Ubuntu/UbuntuRegular.woff2") format("woff2"),
        url("../fonts/Ubuntu/UbuntuRegular.woff") format("woff");
}

@font-face {
  font-family: "UbuntuMedium";
  font-display: swap;
  src: url("../fonts/Ubuntu/UbuntuMedium.ttf") format("truetype"),
    url("../fonts/Ubuntu/UbuntuMedium.eot") format('embedded-opentype'),
      url("../fonts/Ubuntu/UbuntuMedium.woff2") format("woff2"),
        url("../fonts/Ubuntu/UbuntuMedium.woff") format("woff");
}

@font-face {
  font-family: "UbuntuBold";
  font-display: swap;
  src: url("../fonts/Ubuntu/UbuntuBold.ttf") format("truetype"),
    url("../fonts/Ubuntu/UbuntuBold.eot") format('embedded-opentype'),
      url("../fonts/Ubuntu/UbuntuBold.woff2") format("woff2"),
        url("../fonts/Ubuntu/UbuntuBold.woff") format("woff");
}

/*  Lato  font */
@font-face {
  font-family: "LatoLight";
  font-display: swap;
  src: url("../fonts/Lato/LatoLight.ttf") format("truetype"),
    url("../fonts/Lato/LatoLight.eot") format('embedded-opentype'),
      url("../fonts/Lato/LatoLight.woff2") format("woff2"),
        url("../fonts/Lato/LatoLight.woff") format("woff");
}

@font-face {
  font-family: "LatoRegular";
  font-display: swap;
  src: url("../fonts/Lato/LatoRegular.ttf") format("truetype"),
    url("../fonts/Lato/LatoRegular.eot") format('embedded-opentype'),
      url("../fonts/Lato/LatoRegular.woff2") format("woff2"),
        url("../fonts/Lato/LatoRegular.woff") format("woff");
}

@font-face {
  font-family: "LatoBold";
  font-display: swap;
  src: url("../fonts/Lato/LatoBold.ttf") format("truetype"),
    url("../fonts/Lato/LatoBold.eot") format('embedded-opentype'),
      url("../fonts/Lato/LatoBold.woff2") format("woff2"),
        url("../fonts/Lato/LatoBold.woff") format("woff");
}

/*  Georgia font */
@font-face {
  font-family: "GeorgiaRegular";
  font-display: swap;
  src: url("../fonts/Georgia/GeorgiaRegular.ttf") format("truetype"),
    url("../fonts/Georgia/GeorgiaRegular.eot") format('embedded-opentype'),
      url("../fonts/Georgia/GeorgiaRegular.woff2") format("woff2"),
        url("../fonts/Georgia/GeorgiaRegular.woff") format("woff");
}

@font-face {
  font-family: "GeorgiaBold";
  font-display: swap;
  src: url("../fonts/Georgia/GeorgiaBold.ttf") format("truetype"),
    url("../fonts/Georgia/GeorgiaBold.eot") format('embedded-opentype'),
      url("../fonts/Georgia/GeorgiaBold.woff2") format("woff2"),
        url("../fonts/Georgia/GeorgiaBold.woff") format("woff");
}
